---
import { Image } from "astro:assets";
import ThemeSwitcher from "../../components/ThemeSwitcher.tsx";
import poo from "../../images/poo.svg";

interface AstroProps {
    title: string;
}

const { title } = Astro.props;
---

<div
    class="navbar bg-base-100 p-4 fixed top-0 left-0 right-0 max-w-screen-2xl mx-auto z-50 shadow-md rounded-b-lg"
>
    <div class="navbar-start">
        <a href="/" class="btn btn-ghost text-xl"
            >No
            <Image src={poo} alt="poo" class="w-6 h-6" />
            danish</a
        >
    </div>
    <div class="navbar-center hidden lg:flex">
        <h1 class="text-3xl">{title}</h1>
    </div>
    <div class="navbar-end">
        <ThemeSwitcher client:only="react" />
    </div>
</div>
