---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title={{
		danish: "Hej",
		translation: "Hello",
	}}
	breadcrumb={[
		{ name: "Home", link: "/" },
		{ name: "Opbygning af sætninger", link: "/" },
		{ name: "Hovedsætning", link: "/Hovedsætning" },
	]}
>
	<div>Hovedsætning</div>
</Layout>
