---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title={{
        text: "Home",
        tooltip: "Hjemmeside",
    }}
>
    <div class="divider mb-10 mt-0 lg:mt-52"></div>
    <div class="flex flex-col max-w-2xl mx-auto space-y-10 text-center">
        <p>I am not a native danish speaker or a teacher.</p>
        <p>
            I've written this page in a way that fits my mental models. I wanted
            this material to be a quick reference to the rules and it is
            probably too short to act as your first step in the learning
            process. Despite that, I hope it can be useful to you, too.
        </p>
        <p>
            Lots of the examples are inspired from the book "DANSK
            MINIGRAMMATIK" by Mette Hansen, Henriette Kaspersen - because it's
            an awesome little book and a great help.
        </p>
        <p>
            You can edit this website <a
                class="link"
                href="https://github.com/hytromo/no-bs-danish">here</a
            >.
        </p>
    </div>
</Layout>
