---
import Card from "../components/Card.astro";
import structureImage from "../images/sentences/structure.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title={{
        text: "Home",
        tooltip: "Hjemmeside",
    }}
>
    <div class="flex w-full space-x-40 px-40">
        <p>
            Sometimes Danish is taught in a more complicated way than it needs
            to be. This website is an attempt to simplify the learning process
            by breaking down the language into its most basic components and to
            clarify the most confusing parts.
        </p>
    </div>
</Layout>
