---
import Card from "../components/Card.astro";
import structureImage from "../images/sentences/structure.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title={{
        text: "Home",
        tooltip: "Hjemmeside",
    }}
>
    <div class="flex flex-col max-w-2xl mx-auto space-y-10 text-center">
        <p>
            Sometimes Danish is taught in a more complicated way than it needs
            to be. This website is an attempt to simplify the learning process
            by breaking down the language into its most basic components and to
            clarify the most confusing parts.
        </p>
        <p>
            Lots of the examples are taken directly from the book "DANSK
            MINIGRAMMATIK" by Mette Hansen, Henriette Kaspersen
        </p>
        <p>
            I am not a native speaker or a danish teacher. I am simply an adult
            learning danish, sharing what I learn in the simplest way possible,
            that fits my mental models. You can edit this website <a
                class="link"
                href="https://github.com/hytromo/no-bs-danish">here</a
            >.
        </p>
    </div>
</Layout>
