---
import { Image } from "astro:assets";
import hovedsaetningImage from "../images/sentences/hovedsætning.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title={{
		danish: "Hjemmeside",
		translation: "Home",
	}}
>
	<div class="flex w-full space-x-40 px-40">
		<div class="card card-compact bg-base-100 shadow-xl flex-1">
			<figure>
				<Image
					src={hovedsaetningImage}
					alt="A big kitten. Photo by Frida Lannerström on Unsplash"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">Sentence structure</h2>
				<div class="card-actions justify-end">
					<a href="/Opbygning af sætninger" class="btn btn-neutral"
						>Choose</a
					>
				</div>
			</div>
		</div>
	</div>
</Layout>
