---
import Sentences from "../../components/Sentence/Sentences.tsx";
import Layout from "../../layouts/Layout.astro";
import {
    sameTypeExamples,
    subordinateExamples,
} from "../../utils/examples/konjunktioner";
---

<Layout
    title={{
        text: "Conjunctions",
        tooltip: "Konjunktioner",
    }}
>
    <div>
        <article class="prose max-w-none text-center mb-10">
            <h3>Words that connect sentences</h3>
            <p>There are two types of conjunctions</p>
        </article>
        <div class="divider mb-10"></div>
        <article class="prose text-center mb-10 max-w-xl mx-auto">
            <h3>Same-type conjunctions</h3>
            <p>
                They connect sentences of the same kind. When they connect main
                clauses, the conjunction itself is not part of any sentence,
                thus it does not affect the word order in the main clauses, and
                they begin normally with the subject.
            </p>
            <ul class="italic">
                <ol>og</ol>
                <ol>men</ol>
                <ol>eller</ol>
                <ol>for</ol>
                <ol>så*</ol>
            </ul>
            <p>
                * with the meaning of "so" only, see <a
                    href={`${import.meta.env.BASE_URL}/Structure of sentences/4. Tricky cases`}
                    >Tricky cases</a
                >
            </p>
            <Sentences client:only="react" sentences={sameTypeExamples} />
        </article>
        <article class="prose text-center mb-10 max-w-xl mx-auto">
            <div class="divider mb-10"></div>
            <h3>Subordinate conjunctions</h3>
            <p>
                They start subordinate clauses / ledsætninger. One does not need
                to memorize these, because a sentence starting with these words
                will need more context, thus they cannot stand alone, making
                them subordinate clauses.
            </p>
            <ul class="italic">
                <ol>at</ol>
                <ol>om</ol>
                <ol>da</ol>
                <ol>når</ol>
                <ol>dengang</ol>
                <ol>fordi</ol>
                <ol>før</ol>
                <ol>inden</ol>
                <ol>hvis</ol>
                <ol>imens</ol>
                <ol>selv om</ol>
                <ol>så*</ol>
                <ol>hv-ord (hvor, hvorfor etc)</ol>
                <p>
                    * with the meaning of "so that" only, see
                    <a
                        href={`${import.meta.env.BASE_URL}/Structure of sentences/4. Tricky cases`}
                        >Tricky cases</a
                    >
                </p>
                <Sentences
                    client:only="react"
                    sentences={subordinateExamples}
                />
            </ul>
        </article>
    </div>
</Layout>
